{% extends 'layouts/base.html' %}

{% block content %}

    <!--This is for load styles, scripts and more from static directory.-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/edit_team.css' %}">
    <script src="{% static 'scripts/team.js' %}"></script>

    <aside class="team_options_menu">
        <ul>
            <a href="{% url "team" %}"><li><h2>Overview</h2></li></a>
            <a href="{% url "join_team" %}"><li><h2>Join on a team</h2></li></a>
            <a href="{% url "create_team" %}"><li><h2>Create team</h2></li></a>
            <a href="{% url "edit_team" %}"><li><h2>Edit team</h2></li></a>
        </ul>
    </aside>

    <!--This content will be displayed depending the chosen option on left menu "team_options_menu"-->
    <div class="team_container">
        <div class="edit_team_content">
            {% if have_team %}
                <h2>Update "{{ team_name }}" info</h2>
                <form method="POST" action="" class="edit_team_form">
                    {% csrf_token %}
                    <h3>Name</h3>
                    {{ form.name }}
                    <h3>Description:</h3>
                    {{ form.description }}
                    <h3>Access Key:</h3>
                    {{ form.access_key }}
                    <button type="submit">Submit</button>
                </form>
            {% else %}
                <h2 class="no_team_title"><b>⚠</b> There is no Team to update info about <b>⚠</b></h2>
                <a href="{% url 'create_team' %}"><button id="create_team_button">Create Team</button></a>
            {% endif %}
        </div>
    </div>

{% endblock %}
