{% extends 'layouts/base.html' %}

{% block content %}

    <!--This is for load styles, scripts and more from static directory.-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/edit_team.css' %}">
    <script src="{% static 'scripts/team.js' %}"></script>

    <aside class="team_options_menu">
        <ul>
            <a href="{% url "team" %}"><li><h2>Overview</h2></li></a>
            <a href="{% url "join_team" %}"><li><h2>Join on a team</h2></li></a>
            <a href="{% url "create_team" %}"><li><h2>Create team</h2></li></a>
            <a href="{% url "edit_team" %}"><li><h2>Edit team</h2></li></a>
        </ul>
    </aside>

    <!--This content will be displayed depending the chosen option on left menu "team_options_menu"-->
    <div class="team_container">
        <div class="edit_team_content">
            <h2>Update {{ team_name }} info</h2>
            <form method="POST" action="" class="edit_team_form">
                {% csrf_token %}
                <h4>Name</h4>
                {{ form.name }}
                <h4>Description:</h4>
                {{ form.description }}
                <h4>Access Key:</h4>
                {{ form.access_key }}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}
