{% extends 'layouts/base.html' %}

{% block content %}

    <!--This is for load styles, scripts and more from static directory.-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/team.css' %}">
    <script src="{% static 'scripts/team.js' %}"></script>

    <aside class="team_options_menu">
        <ul>
            <a href="{% url "team" %}"><li><h2>Overview</h2></li></a>
            <a href="{% url "join_team" %}"><li><h2>Join on a team</h2></li></a>
            <a href="{% url "create_team" %}"><li><h2>Create team</h2></li></a>
            <a href="{% url "edit_team" %}"><li><h2>Edit team</h2></li></a>
        </ul>
    </aside>

    <!--This content will be displayed depending the chosen option on left menu "team_options_menu"-->
    <div class="team_container">
        <div class="teams_overview_content">
            <h1>Teams you are joined</h1>
            {% if teams %}
                {% for team in teams %}
                    <a href="{% url "team_overview" team.name %}">
                        <div class="team" style="background-color:random;">
                            <h2>{{ team.name }}</h2>
                            <h6>{{ team.description }}</h6>
                            <h3>Leader: {{ team.owner }}</h3>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <div class="no_teams_founded">
                    <h2><b>⚠</b> No teams founded <b>⚠</b></h2>
                    <p>Please join on a team to start to work.</p>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}