{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'styles/base.css' %}">
        <title>Task Manager</title>
        <script src="{% static 'scripts/base.js' %}"></script>
    </head>

    <body>
        <header>
            <!-- Company Title -->
            <div class="company_title">
                <h2>Productivity Solutions <b>Inc.</b></h2>
            </div>
    
            <!-- Navigation Menu -->
            <div class="navigation_menu">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'tasks' %}">Tasks</a></li>
                    <li><a href="{% url 'team' %}">Team</a></li>
                    <li><a href="{% url 'help' %}">Help</a></li>
                </ul>
            </div>
    
            <!-- User Options Menu -->
            <div class="user_options_menu">
                {% if request.user.is_authenticated %}
                    <span id="username_top">{{ request.user.username }}</span>
                    <a id="notifications" href="{% url 'notifications' %}">{{total_notifications}}</a>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" id="logout_button">Logout</button>
                    </form>
                {% else %}
                    <span id="username_top">Username</span>
                    <a href="{% url 'login' %}" id="login_button">Login</a>
                {% endif %}
                <a href="{% url 'register' %}" id="register_button">Register</a>
            </div>
        </header>

        <div class="content">
            {% block content %}
                <!--Changeable content will be placed here-->
            {% endblock %}
        </div>

        <footer>
            <div class="social_sites">
                <ul>
                    <h1>Here are our social networks:</h1>
                    <li><a target="_blank" href="https://www.facebook.com"><img src="{% static 'images/facebook_logo.png' %}"></a></li>
                    <li><a target="_blank" href="https://twitter.com/?lang=es"><img src="{% static 'images/twitter_logo.png' %}"></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/marco-antonio-pozol-narciso-388941277/"><img src="{% static 'images/linkedin_logo.png' %}"></a></li>
                    <li><a target="_blank" href="https://github.com/MarcoA-Pazol"><img src="{% static 'images/github_logo.png' %}"></a></li>
                    <li><a target="_blank" href="https://www.instagram.com"><img src="{% static 'images/instagram_logo.png' %}"></a></li>
                    <li><a target="_blank" href="https://web.whatsapp.com"><img src="{% static 'images/whatsapp_logo.png' %}"></a></li>
                </ul>
            </div> 

            <div class="more_sites">
                <div>
                    <h2>About</h2>
                    <h2>Company</h2>
                    <h2>Mision</h2>
                    <h2>Vision</h2></li>
                </div>

                <div>
                    <h2>Schedule Management</h2>
                    <h2>Custom Software</h2>
                    <h2>Software Solutions</h2>
                    <h2>Consultancy Services</h2>
                </div>

                <div>
                    <h2>More</h2>
                    <h2>Forum</h2>
                    <h2>Blog</h2>
                    <h2>Docs</h2>
                </div>
            </div>
            
            <div class="develop_info">
                <h2>Developed by <b>MarcoA_Pazol</b> / <a href="https://github.com/MarcoA">Visit my Github for more!</a></h2>
                <h3>2024 Allrights Reserved by Productivity Solutions Inc, Contributors and Developers</h3>
            </div>
        </footer>
    </body>
</html>