{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'styles/nav_menu.css' %}">
        <title>Navigation Bar</title>
        <script src="{% static 'scripts/nav_menu.js' %}"></script>
    </head>

    <body class="nav_menu_container">
        
        <nav class="menu_container">
            <ul>
                <li><a href="{% url 'home' %}"><img src="{% static 'images/home.png' %}"></a></li>
                <li><a href="{% url 'tasks' %}"><img src="{% static 'images/tasks.png' %}"></a></li>
                <li><a href="{% url 'team' %}"><img src="{% static 'images/team.png' %}"></a></li>
                <li><a href="{% url 'help' %}"><img src="{% static 'images/help.png' %}"></a></li>
            </ul>
        </nav>

    </body>
</html>