/*Body general base*/
body{
    background: linear-gradient(rgb(184, 219, 240), rgb(190, 185, 255));
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 100vh; /* Set the minimum height of the body to fill the viewport */
}


/*TOP OPTIONS MENU*/
header{
    position: fixed;
    width: 100%;
    bottom: 565px;
    z-index: 999;
    background: linear-gradient(#0c0c27, rgb(12, 12, 19));
    /*background: linear-gradient(#cdebff, rgba(15, 14, 66));*/
}

.top_options_menu{
    position: relative;
    width: 100%;
    height: 68px;
    border-bottom: solid 1px white;
    border-inline: 1px solid white;
}

.top_options_menu ul li{
    padding-left: 30px;
    display: inline-flex;
}


/*Company Title*/
.company_title{
    width: 300px;
    height: 50px;
    position: relative;
    bottom: 10px;
}

.company_title h2{
    color: rgb(3, 130, 214);
    font-family: 'Trebuchet MS';
    font-size: 25px;
}

.company_title b{
    color: snow;
    font-family: 'Segoe UI';
}


/*Navigation menu*/
.navigation_menu{
    width: 550px;
    height: 50px;
    position: relative;
    bottom: 5px;
    border-inline: 2px solid rgb(150, 190, 230);
}

.navigation_menu ul li{
    display: inline-flex;
    text-align: center;
}

.navigation_menu a{
    text-decoration: none;
}

.navigation_menu h1{
    font-family:'Gill Sans', 'Gill Sans MT';
    color: rgb(150, 190, 230);
    text-shadow: 1px 1px 2px #cdebff;
    position: relative;
    bottom: 5px;
}

.navigation_menu h1:hover{
    color: rgb(3, 130, 214);
    cursor: hand;
    text-shadow: 1px 1px 2px #cdebff;
}


/*User options*/
.user_options_menu{
    width: 250px;
    height: 60px;
    position: relative;
    bottom: 30px;
}

.user_options_menu img{
    border: 1px solid rgb(150, 190, 230);
    width: 45px;
    height: 45px;
    position: relative;
    top: 35px;
    left: 15px;
    size: 45px;
}

.user_options_menu aside{
    display: block;
    width: 80px;
    height: 40px;
    position: relative;
    bottom: 20px;
    left: 70px;
}

#username_top{
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    color: rgb(84, 156, 228);
    cursor: hand;
}

/*Session Container*/
.session_menu{
    display: block;
    position: relative;
    bottom: 50px;
    left: 1100px;
    height: 40px;
    border-left: 1px solid rgb(150, 190, 230);
    padding-left: 10px;
}

#login_button{
    font-size: 12px;
    cursor: hand;
    position: relative;
    bottom: 15px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(172, 187, 255);
    color: rgba(5, 5, 40, .7025);
    background-color: rgb(150, 150, 255);
    padding-inline: 5px;
}
#login_button:hover{
    cursor: hand;
    background-color: royalblue;
    color: rgb(172, 187, 255);
}
#logout_button{
    display: none;
    font-size: 12px;
    cursor: hand;
    position: relative;
    bottom: 15px;
    border-radius: 2px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(172, 187, 255);
    color: rgba(5, 5, 40, .7025);
    background-color: rgb(150, 150, 255);
    padding-inline: 5px;
}
#logout_button:hover{
    cursor: hand;
    background-color: royalblue;
    color: rgb(172, 187, 255);
}
#register_button{
    font-size: 12px;
    cursor: hand;
    position: relative;
    bottom: 10px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(172, 187, 255);
    color: rgba(5, 5, 40, .7025);
    background-color: rgb(150, 150, 255);
    padding-inline: 5px;
}
#register_button:hover{
    cursor: hand;
    background-color: royalblue;
    color: rgb(172, 187, 255);
}


#colormode_button{
    border: 1px solid rgb(150, 190, 230);
    font-size: 11px;
    color: snow;
    background-color: darkslategray;
    position: relative;
    bottom: 10px;
    cursor: hand;
}


.content {
    position: relative;
    top: 30px;
    flex: 1; /* Allow the content area to grow and fill the remaining space */
}


/*FOOTER*/
footer {
    margin-top: auto;
    background: linear-gradient(#cdebff, rgba(15, 14, 66, 0.726)); 
    height: 300px;
    border-top: 1px solid snow;
    width: 100%;
}
 /*Social sites*/
 .social_sites{
    padding-top: 5px;
 }
.social_sites h1{
    position: relative;
    left: 40px;
    top: 15px;
    font-size: 20px;
    color: rgb(5, 5, 40);
    font-family: Tahoma;
}

.social_sites ul{
    position: relative;
    left: 600px;
    bottom: 15px;
}

.social_sites ul li{
    display: inline;
    padding-inline: 30px;
}

.social_sites img{
    width: 30px;
    height: 30px;
    border: rgb(150, 190, 230) solid 2px;
    border-radius: 2px;
    position: relative;
    bottom: 10px;
}

.social_sites hr{
    position: relative;
    bottom: 35px;
}

/*About Sites*/
.about_sites{
    display: block;
    width: 200px;
    padding-left: 50px;
    border-right: 1px solid snow;
}
.about_sites h1{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}
.about_sites h2{
    color: #cdebff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

/*More Sites*/
.more_sites{
    display: block;
    width: 200px;
    padding-left: 50px;
    position: relative;
    left: 250px;
    bottom: 140px;
    border-right: 1px solid snow;
}
.more_sites h1{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}
.more_sites h2{
    color: #cdebff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

/*Services Sites*/
.services_sites{
    display: block;
    width: 350px;
    padding-left: 50px;
    position: relative;
    left: 550px;
    bottom: 280px;
    border-right: 1px solid snow;
}
.services_sites h1{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}
.services_sites h2{
    color: #cdebff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

/*Company Logo*/
#company_logo{
    width: 190px;
    height: 130px;
    position: relative;
    left: 1000px;
}

/*Develop Info*/
.develop_info{
    width: 1310px;
    height: 30px;
    background-color: rgb(5, 5, 40);
    position: relative;
    bottom: 280px;
}

.develop_info h2{
    color: rgb(190, 185, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    width: 170px;
    position: relative;
    top: 5px;
    padding-left: 100px;
}

.develop_info b{
    color: rgb(150, 190, 230);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.develop_info h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: rgb(190, 185, 255);
    width: 300px;
    position: relative;
    bottom: 20px;
    left: 450px;
}
