/*Animations*/
@keyframes invisible_to_visible{
    from{
        background-color: rgba(225, 225, 250);
    }
    to{
        background-color: #0c0c27
    }
}
@keyframes dark_light_dark{
    0%{background-color: #0c0c27;}
    20%{background-color: #363666;}
    40%{background-color: #6d6d94;}
    50%{background-color:#8686a5;}
    60%{background-color: #6d6d94;}
    80%{background-color: #363666;}
    100%{background-color: #0c0c27;}
}



/* Body General Base */
body {
    background-color: #0c0c27;
    animation-name: dark_light_dark;
    animation-duration: .2s;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Top Options Menu */
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background: linear-gradient(#0c0c27, rgb(12, 12, 19));
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Company Title */
.company_title h2 {
    font-size: 28px;
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
}

.company_title b {
    font-size: 20px;
}


/* Navigation Menu */
.navigation_menu{
    border-block: 1px solid rgba(25, 25, 59, 0.849);
    border-radius: 8px;
}
.navigation_menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}
.navigation_menu li {
    margin-right: 20px;
}
.navigation_menu a {
    text-decoration: none;
    color: #ffffff;
    margin-inline: 5px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: color 0.3s;
}
.navigation_menu a:hover {
    color: #cdebff;
}


/* User Options Menu */
.user_options_menu {
    display: flex;
    align-items: center;
}

#username_top {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    color: #54a3e4;
    margin-right: 10px;
}

#notifications{
    text-decoration: none;
    color: orangered;
    font-size: 16px;
    background-color: #36366693;
    margin-right: 20px;
    padding-inline: 8px;
    padding-block: 2px;
    border-radius: 6px;
    margin-right: 50px;
}

/* Session Menu */
.session_menu {
    display: flex;
    align-items: center;
}

#login_button,
#register_button,
#logout_button {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background-color: #0c0c27;
    color: #ffffff;
    margin-right: 10px;
    transition: background-color 0.3s, color 0.3s;
}
#register_button{
    margin-right: 40px;
}

#login_button:hover,
#register_button:hover,
#logout_button:hover {
    background-color: royalblue;
    color: #cdebff;
    cursor: pointer;
}

.content {
    margin-top: 100px;
    width: 100%;
    flex: 1; /* Allow the content area to grow and fill the remaining space */
}


/*FOOTER*/
footer {
    margin-top: 10px;
    height: 300px;
    border-top: 1px solid rgb(0, 0, 0);
    width: 100%;
    background: linear-gradient(rgb(5, 5, 10), #0c0c27);
    z-index: 998;
}
 /*Social sites*/
 .social_sites{
    width: 100%;
    border-bottom: 1px solid black;
 }
.social_sites ul{
    width: 100%;
    display: inline-flex;
}
.social_sites ul h1{
    text-align: center;
    width: 40%;
    font-size: 16px;
    color: rgb(190, 185, 255);
    font-family: Tahoma;
}

.social_sites ul li{
    display: inline;
    padding-inline: 30px;
}

.social_sites img{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

/*About Sites*/
.more_sites{
    width: 100%;
    padding-inline: 8%;
    display: inline-flex;

}
.more_sites div{
    margin-inline: 10%;
    justify-content: center;
}
.more_sites h2{
    color: #d3dafd;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

/*Develop Info*/
.develop_info{
    width: 100%;
    border-top: 1px solid black;
    display: block-flex;
}

.develop_info h2{
    color: rgb(190, 185, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.develop_info b{
    color: rgb(150, 190, 230);
}

.develop_info a{
    text-decoration: none;
    color: rgb(190, 185, 255);
}

.develop_info h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: rgb(190, 185, 255);
    width: 100%;
    text-align: center;
}

