/*Left aside options menu*/
.team_options_menu{
    align-items: center;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 15%;
    border-right: 1px solid rgb(160, 160, 250);
    height: 100%;
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 997;
}
.team_options_menu ul li{
    list-style: none;
}
.team_options_menu ul li h2{
    color: white;
    font-family: sans-serif;
    font-size: 14px;
}

/*Team container*/
.team_container{
    display: flex;
    width: 85%;
    height: 100hv;
    margin-left: 15%;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: sans-serif;
}


/*Create team content*/
.create_team_content{
    text-align: center;
    align-items: center;
    width: 60%;
}.create_team_content h3{
    font-family: sans-serif;
    font-size: 12px;
}.create_team_content b{
    font-size: 14px;
    color: rgb(78, 89, 248);
}

.create_team_form h3{
    font-size: 16px;
}

#have_team{
    font-size: 14px;
    font-family: sans-serif;
    text-align: center;
    align-items: center;
}

/*Own teams content*/
.own_teams_content{
    display: none;
}