/*Hero Section*/
.hero_section {
    background-image: url('{% static "images/hero_image.jpg" %}');
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    position: relative;
}

.hero_content {
    position: relative;
    z-index: 1;
}


/*Call to Action Section*/
.cta_section{
    background-color: #363666;
    color: rgb(190, 185, 255);
    text-align: center;
    padding: 80px 20px;
}

.cta_section h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.cta_section p {
    font-size: 20px;
    margin-bottom: 40px;
}

.cta_button{
    display: inline-block;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: royalblue;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta_button:hover {
    background-color: #0066cc;
}


/*Home Features Container*/
.features_section{
    width: 100%;
    height: auto;
}
.features_section h3{
    color: rgb(190, 185, 255);
}
.features_section p{
    color: white;
}
.features_section ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.features_section ul li{
    width: 20%;
}

.features_section div{
    height: 120px;
    padding: 5px 10px;
    border-block: 1px solid rgba(101, 124, 158, 0.3);
    border-radius: 5px;
}
