.register_container {
    margin-top: 40px;
    color: white;
    font-family: Arial, sans-serif;
    padding: 30px;
    text-align: center;
}

.register_formulary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.form_left, .form_right {
    margin: 30px;
}

.form_left {
    flex: 1;
}

.form_right {
    flex: 0.8;
}

h2{
    font-size: 12px;
    text-align: left;
}

input[type="text"], input[type="email"], input[type="password"], button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 14px;
}   

button {
    background-color: #1a1a3d;
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1a1a4f;
}

.redirect_to_login{
    font-family: Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    width: 100%;
    margin-top: 5px;
}
.redirect_to_login a{
    color: white;
    text-decoration: none;
}
.redirect_to_login a:hover{
    color: rgba(177, 191, 252, 0.363);
}