{% extends 'layouts/base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/notifications.css' %}">

    {% if notifications %}
        {% for notification in notifications %}
            <div class="notification">
                <h4 class="notification_info">{{notification.sent_at}}</h4>
                <h4 class="notification_info">{{notification}}</h4>
                <form method="POST" action="{% url 'mark_as_read_notification' notification_identifier=notification.id %}" class="mark_as_read">
                    {% csrf_token %}
                    <button type="submit">Mark as read</button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <div class="no_notifications">
            There are no notifications here
        </div>
    {% endif %}

    <div class="read_notifications">
        <h2>Read Notifications</h2>
        {% if read_notifications %}
            {% for notification in read_notifications %}
                <h4>{{notification.sent_at}}</h4>
                <h4>{{notification}}</h4>
            {% endfor %}
        {% else %}
            <p>There are no read notifications here.</p>
        {% endif %}
    </div>

{% endblock %}