{% extends 'layouts/base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/notifications.css' %}">

    {% if notifications %}
        <h2 class="notification_title">Notifications</h2>
        {% for notification in notifications %}
            <div class="notification">
                <h4 class="notification_info">{{notification.sent_at}}</h4>
                <h4 class="notification_info"><b class="彡1"> 彡彡彡 </b>{{notification}}<b class="彡1"> 彡彡彡 </b></h4>
                <form method="POST" action="{% url 'mark_as_read_notification' notification_identifier=notification.id %}" class="mark_as_read">
                    {% csrf_token %}
                    <button type="submit">OK</button>
                </form>
                <form method="POST" action="{% url 'delete_notification' notification_identifier=notification.id %}" class="delete_notification">
                    {% csrf_token %}
                    <button type="submit">DELETE</button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <h2 class="notification_title">Notifications</h2>
        <div class="no_notifications">
            None
        </div>
    {% endif %}

    <div class="read_notifications">
        <h2 class="notification_title">Read</h2>
        {% if read_notifications %}
            {% for notification in read_notifications %}
            <div class="notification">
                <h4 class="notification_info">{{notification.sent_at}}</h4>
                <h4 class="notification_info"><b class="彡2"> 彡彡彡 </b>{{notification}}<b class="彡2"> 彡彡彡 </b></h4>
            </div>
            {% endfor %}
        {% else %}
            <div class="no_notifications">
                None
            </div>
        {% endif %}
    </div>

{% endblock %}