{% extends 'layouts/base.html' %}

{% block content %}
    <!--This is for load styles, scripts and more from static directory.-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <script src="{% static 'scripts/home.js' %}"></script>

    <div class="hero_section">
        <div class="hero_content">
            <h1>Welcome to Your Task Manager</h1>
            <p>Efficiently manage tasks, assignments, and projects with ease.</p>
        </div>
    </div>
    
    <div class="cta_section">
        <h2>Ready to Get Started?</h2>
        <p>Sign up now and experience efficient task management.</p>
        <a href="{% url 'register' %}" class="cta_button">Sign Up</a>
    </div>

    <div class="features_section">
        <ul>
            <li>
                <div>
                    <h3>Task Asignement</h3>
                    <p>Asign tasks yourself or for your team members</p>
                 </div>
            </li>

            <li>
                <div>
                    <h3>Ticket Tracking System</h3>
                    <p>Track your tasks and follow your status easily</p>
                </div>
            </li>

            <li>
                <div>
                    <h3>Delivery Times</h3>
                    <p>Stablish delivery times for your tasks</p>
                </div>
            </li>

            <li>
                <div>
                    <h3>Ideal Work Environment</h3>
                    <p>Just join to a team, and start to atach your tasks and responsabilities</p>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}