{% extends 'layouts/base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">

    <div class="login_container">
        <h1>Sign-in with your account</h1>
        
        <form class="login_formulary" action="" method="POST">
            {% csrf_token %}
            <h2>Username</h2>
            {{ form.username }}
            <h2>Password</h2>
            {{ form.password }}
            <button type="submit">Submit</button>
        </form>     
            
        <!--Implement password recuperation system-->
        <hr>
        <h2 id="missed_password">° I miss my password °</h2>
        <h3 class="redirect_to_register"><a href="{% url 'register' %}">I want to create an account<a/></h3>
    </div>

{% endblock %}