{% extends 'layouts/base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">

    <div class="register_container">
        <h1>Register</h1>

        <form class="register_formulary" action="" method="POST">
            {% csrf_token %}
            <div class="form_left">
                <h2>Username</h2>
                {{ form.username }}
                <h2>E-mail</h2>
                {{ form.email }}
                <h2>Password</h2>
                {{ form.password }}
                <h2>Birthday</h2>
                {{ form.birthday }}
            </div>
            <div class="form_right">
                <h2>First name</h2>
                {{ form.first_name }}
                <h2>Last name</h2>
                {{ form.last_name }}
                <h2>Department</h2>
                {{ form.department }}
                <h2>Address</h2>
                {{ form.address }}
            </div>
            <button type="submit">Submit</button>
        </form>

        <hr>
        <h3 class="redirect_to_login"><a href="{% url 'login' %}">I already have an account</a></h3>
    </div>
{% endblock %}
